/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/uec0moc.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 4rem;
  font-family: paralucent, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
}
h1 span {
  font-weight: bold;
}
h2 {
  font-family: paralucent, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 span {
  font-size: 3rem;
}
p {
  font-family: open-sans, sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px 30px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
.sectionDescription {
  max-width: 600px;
  margin: 20px auto 0 auto;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .sectionDescription {
    margin: 20px 10px 0 10px;
  }
}
.grey-background {
  background: #D6D6D6;
}
.productSection {
  width: 100%;
}
.productSection h1 {
  text-align: center;
  padding-top: 4%;
}
.productSection .container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .productSection .container {
    flex-flow: column nowrap;
  }
}
.productSection .container .wheelCard {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border: 1px solid #008CCC;
  border-radius: 8px;
  background: white;
  margin: 2%;
  padding: 2% 0;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.9;
}
@media (max-width: 768px) {
  .productSection .container .wheelCard {
    width: 80%;
  }
}
.productSection .container .wheelCard .wheelsHeader {
  color: #008CCC;
}
@media (max-width: 768px) {
  .productSection .container .wheelCard .wheelsHeader {
    margin-top: 20px;
  }
}
.productSection .container .wheelCard .wheelImage {
  max-width: 100%;
}
.productSection .container .wheelInfo {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.productSection .container .wheelInfo .wheelCardText {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.productSection .container .wheelInfo .styleIcons {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
}
.productSection .container .wheelInfo .styleIcons .skateStyle {
  flex-basis: 100px;
  flex-shrink: 1;
}
.productSection .container .wheelInfo .styleIcons .skateStyle h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}
.productSection .container .wheelInfo .styleIcons .styleIcon {
  width: 100%;
  margin: 2%;
}
.productSection .container .wheelInfo .viewButton {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #008CCC;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}
.productSection .container .wheelInfo .viewButton:hover {
  background-color: #0061a7;
}
@media (max-width: 768px) {
  .productSection .container .wheelInfo .viewButton {
    margin-bottom: 20px;
  }
}
.madeInAmerica {
  min-height: 100px;
  background-color: #EE3E46;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .madeInAmerica h2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0;
    white-space: pre-wrap;
  }
  .madeInAmerica h2 .whiteLogo {
    margin-bottom: 4%;
  }
}
.madeInAmerica .whiteLogo {
  padding-right: 2%;
}
.wheelsHardware {
  min-height: 400px;
  background-color: #FBFBFB;
}
.aboutAnabolix {
  width: 100%;
}
