* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px 30px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

// .specialWheels {

// }
.banner {
  height: 400px;
  width: 100%;
  background: @gradient;
  opacity: 1;
}

.quadWheels {
  width: 100%;
  min-height: 800px;
  background: url('../images/GettyImages-501258750.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;

  h1 {
    text-align: center;
    padding-top: 2%;
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;  

    .wheelCardSmall {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      border: 1px solid #008CCC;
      border-radius: 5px;
      background: white;
      margin: 2%;
      padding: 2% 0;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 0.9;

      .wheelImage {
        max-width: 100%;
      }
      
     }

    .wheelCardLarge {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      border: 1px solid #008CCC;
      border-radius: 5px;
      background: white;
      margin: 2% 0;
      padding: 2% 0;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 0.9;
    }

    .wheelInfo {
      width: 90%;
      padding: 2%;
      display: grid;
      grid-template-columns: auto auto auto auto;
      text-align: left;
      grid-gap: 10%;


      .wheelCardIcon {
        width: 100%;
        margin: 2%;
        grid-row-start: 0;
        grid-column-end:2;
      }

      .wheelCardText {
        width: 100%;
        margin: 2%;
        font-size: 1.25rem;
        line-height: 1.4rem;
        grid-column-start: 2;
        grid-column-end: 4;
        align-content: center;
      }
    }



  }
}

.madeInAmerica {
  min-height: 100px;
  background-color: #EE3E46;
  display: flex;
  align-items: center;
  justify-content: center;

  @media @tablet {
    h2 {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5% 0;
      white-space:pre-wrap;

      .whiteLogo {
        margin-bottom: 4%;
      }
    }
  }

  .whiteLogo {
    padding-right: 2%;
  }
}

.wheelsHardware {
  min-height: 400px;
  background-color: #FBFBFB;
}

.aboutAnabolix {
  width: 100%;
}
